[user]
	name = Yannis Rammos
	email = y@rammos.co
[core]
	editor = vi
	excludesfile = /Users/rammos/.gitignore_global
[github]
	user = yrammos
[alias]
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative --all
	latexdiff = difftool -t latexdiff
[color]
	ui = true
[credential]
	helper = osxkeychain
[merge]
	tool = Kaleidoscope
[mergetool "ksdiff"]
        cmd = ksdiff -w --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" --snapshot \"$REMOTE\" --snapshot
	trustExitCode = true
[mergetool]
	keepBackup = true
	prompt = false
[diff]
	tool = Kaleidoscope
	submodule = log
[difftool "ksdiff"]
	cmd = ksdiff --partial-changeset --relative-path \"$MERGED\" -- \"$LOCAL\" \"$REMOTE\"
[difftool "Kaleidoscope"]
	cmd = ksdiff --partial-changeset --relative-path \"$MERGED\" -- \"$LOCAL\" \"$REMOTE\"
[mergetool "Kaleidoscope"]
	cmd = ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" --snapshot \"$REMOTE\" --snapshot
	trustExitCode = true
[status]
	submoduleSummary = true
[difftool]
	prompt = false
[difftool "latexdiff"]
	cmd = git-latexdiff-helper \"$LOCAL\" \"$REMOTE\"
