[user]
	name = yrammos
	email = yannis.rammos@me.com
[core]
	editor = vi
	excludesfile = /Users/rammos/.gitignore_global
[github]
	user = yrammos
[alias]
[color]
	ui = true
[credential]
	helper = osxkeychain
[merge]
	tool = ksdiff
[mergetool "ksdiff"]
        cmd = ksdiff -w --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" --snapshot \"$REMOTE\" --snapshot
	trustExitCode = true
[mergetool]
	keepBackup = true
[diff]
	tool = ksdiff
	submodule = log
[difftool "ksdiff"]
	cmd = ksdiff --partial-changeset --relative-path \"$MERGED\" -- \"$LOCAL\" \"$REMOTE\"
[difftool "Kaleidoscope"]
	cmd = ksdiff --partial-changeset --relative-path \"$MERGED\" -- \"$LOCAL\" \"$REMOTE\"
[mergetool "Kaleidoscope"]
	cmd = ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" --snapshot \"$REMOTE\" --snapshot
	trustExitCode = true
[status]
	submoduleSummary = true
